@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fondamento">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="padding: 0;">
    <nav class="navbar fixed-top navbar-expand-md navbar-dark" id="topNav">
        @Html.ActionLink("The Homebrew Guild", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Monsters", "Index", "Monster", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Spells", "Index", "Spell", null, new { @class = "nav-link" })</li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">@Html.ActionLink("My Creations", "Index", "MyCreations", null, new { @class = "nav-link" })</li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">@Html.ActionLink("Admin Tools", "Index", "AdminContent", null, new { @class = "nav-link" })</li>
                }
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>

    @model MVC.Models.ChangePasswordViewModel
    @{
        ViewBag.Title = "Change Password";
    }

    <div style="background-color: #1d2021;">
        <div class="container">
            <div class="row loginCardContainer">
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 loginCard">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="card style=" border: 1px solid #BB1711;"">
                            <div class="card-header">
                                <h4>Change Password</h4>
                            </div>
                            <div class="card-body">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group row loginInput">
                                    <div class="col-10 offset-1">
                                        @Html.LabelFor(m => m.OldPassword, new { @class = "sr-only" })
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Old Password" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-10 offset-1 loginInput">
                                        @Html.LabelFor(m => m.NewPassword, new { @class = "sr-only" })
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-10 offset-1 loginInput">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "sr-only" })
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="offset-1 col-md-10 loginInput">
                                        <input type="submit" value="Change Password" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}