@model IEnumerable<Models.SubclassModels.SubclassListItem>

@{
    ViewBag.Title = "Index";
}

<div class="pageTitle">
    <h1>Subclasses</h1>
</div>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="indexCreateLink">
        <button type="button" value="createSubclass" class="btn btn-primary">@Html.ActionLink("Create a Subclass", "Create", "Subclass")</button>
    </div>
}

<div class="row justify-content-center">
    <table class="table col-md-10">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="listButtons">
                    <ul class="horizontalList">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li><button type="button" class="btn btn-cancel btn-sm">@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure you want to delete this subclass?')" })</button></li>
                            <li><button type="button" class="btn btn-primary btn-sm" style="width: 108px;">@Html.ActionLink("More", "Details", new { id = item.Id })</button></li>
                            <li><button type="button" class="btn btn-primary btn-sm" style="width:108px;">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</button></li>
                        }
                        else
                        {
                            <li><button type="button" class="btn btn-primary btn-sm" style="width: 108px;">@Html.ActionLink("More", "Details")</button></li>
                        }
                    </ul>
                </td>
            </tr>
        }

    </table>
</div>
