@model IEnumerable<Models.BackgroundModels.BackgroundListItem>

@{
    ViewBag.Title = "Index";
}

<div class="pageTitle">
    <h1>Backgrounds</h1>
</div>

<div class="indexCreateLink">
    <button type="button" value="createBackground" class="btn btn-primary">@Html.ActionLink("Create a Background", "Create", "Background")</button>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>
