@model Models.SpellModels.SpellDetail

@{
    ViewBag.Title = "Details";
}

<div class="pageTitle">
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <h5>@@@Html.DisplayFor(model => model.Creator)</h5>
</div>

<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.SpellLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRitual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRitual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiresConcentration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiresConcentration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CastingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CastingTime)
        </dd>

        @if (Model.Components != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Components)
            </dt>

            <dd>
                @foreach (var component in Model.Components)
                {
                    string componentName = component.ToString();
                    @componentName[0]
                }
            </dd>

        }


        <dt>
            @Html.DisplayNameFor(model => model.MaterialComponent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialComponent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
