@model Models.CharacterClassModels.CharacterClassDetail

@{
    ViewBag.Title = "Details";
}

<div class="pageTitle adminTitle">
    <h1>@Html.DisplayFor(model => model.Name)</h1>
</div>

<div class="container-md">
    <div class="row">
        <div class="col-10 col-lg-8 offset-1 offset-lg-2">
            <div class="card displayCard">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
                    <h6><strong>@Html.DisplayNameFor(model => model.HitDie): </strong>@Html.DisplayFor(model => model.HitDie)</h6>
                    <p>
                        <strong>@Html.DisplayNameFor(model => model.SavingThrows): </strong>
                        @foreach (var ability in Model.SavingThrows)
                        {
                            string text = ability + " ";
                            @text;
                        }
                    </p>
                    <p>
                        <strong>@Html.DisplayNameFor(model => model.SkillChoices): </strong>
                        Choose @Model.NumberOfSkillProficiencies from
                        @{ int i = 0;
                            foreach (var skill in Model.SkillChoices)
                            {
                                i++;
                                string text = "";
                                if (i < Model.SkillChoices.Count)
                                {
                                    text = skill + ", ";
                                }
                                else { text = skill.ToString(); }
                                @text;
                            }
                        }.
                    </p>
                    @if (Model.Features != null)
                    {
                        <hr />
                        foreach (var kvp in Model.Features)
                        {
                            <p><strong><i>@kvp.Key</i>. </strong>@kvp.Value</p>
                        }
                    }

                </div>
            </div>
        </div>
    </div>

    <div class="formButtonsContainer row">
        <div class="col-12 col-lg-10">
            <ul class="horizontalList formButtons">
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li><button type="button" class="btn btn-cancel deleteItem" data-id="@Model.Id"><i class="far fa-trash-alt"></i></button></li>
                    <li><button type="button" class="btn btn-primary"><a href="/CharacterClass/"><i class="far fa-list-alt"></i></a></button></li>
                    <li><button type="button" class="btn btn-primary"><a href="/CharacterClass/Edit/@Model.Id"><i class="fas fa-edit"></i></a></button></li>
                }
                else
                {
                    <li><button type="button" class="btn btn-primary"><a href="/CharacterClass/"><i class="far fa-list-alt"></i></a></button></li>
                }
            </ul>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('.deleteItem').on('click', function () {
                var itemId = $(this).attr('data-id');
                var message = confirm('Are you sure you wish to delete this item?');

                if (message) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete", "CharacterClass")',
                        data: { itemId },
                        success: function () {
                            setTimeout(function () { location.reload(); }, 1000);
                        },
                        error: function () {
                            alert('Unable to delete item');
                        }
                    })
                }
            })
        })
    </script>
}